name: CI
on: [push, pull_request]

jobs:
  build-linux-gcc:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: build everything
        run: |
          ./build.sh
        env:
          CC: gcc
          CXX: g++
  build-linux-clang:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: build everything
        run: |
          ./build.sh
        env:
          CC: clang
          CXX: clang++
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: build everything
        run: |
          ./build.sh
        env:
          CC: clang
          CXX: clang++
  build-windows-msvc:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v1
        # this runs vcvarsall for us, so we get the MSVC toolchain in PATH.
      - uses: seanmiddleditch/gha-setup-vsdevenv@master
      - name: build all and examples
        shell: cmd
        # this replaces default PowerShell, which can't fail the build
        run: |
          ./build_msvc.bat examples
# TODO(#35): there is no CI build for FreeBSD
# TODO: the x86-64 examples are not build on CI
